.classmate{
    background-color: pink;
    font-family: Verdana, SansSerif, sans-serif;
}
#numberTwo {
    color: blue;
    font-size: 36px;

}

#numberFour{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}